{% extends 'base.html' %}
{% block title %} Sign in {% endblock %}
{% load crispy_forms_tags %}

{% block body %}
    {% if change %}
    <div class="alert alert-success" role="alert">
        Password changed successfully
    </div>
    {% else %}
    <h1>Login</h1>
    <hr>
        <form action="" method="POST">
            {{ form|crispy }}
            {% csrf_token %}
            <br>
            <input type="submit" name="submit" value="Change password" class="btn btn-success">
        </form>
    {% endif %}

{% endblock %}