{% extends 'base.html' %}
{% block title %} Blog {% endblock %}

{% block body %}
<h1>Profile</h1>
<hr>
{% if user.user_more_info %}
<a href="{% url 'login:change_profile_picture' %}"><img src="/media/{{ user.user_more_info.profile_pic }}" class="img-thumbnail" style="width:120px; height:120px;"></a>
{% else %}
<!-- Image by Stephanie Edwards from Pixabay -->
<a href="{% url 'login:add_profile_picture' %}"><img src="/media/profile_pics/blank.png" style='width:120px;''></a>
{% endif %}
<p>username: {{ user.username }}</p>
<p>email: {{ user.email }}</p>
<p>name and username: {{ user.first_name }} {{ user.last_name }} </p>
<hr>
<a href="{% url 'login:edit_profile' %}" class="btn btn-primary">Edit profile</a>
{% endblock %}