{% extends 'base.html' %}
{% block title %} Sign up {% endblock %}
{% load crispy_forms_tags %}

{% block body %}
    <h1>Register</h1>
    <hr>

    {% if registered %}
        <div class="alert alert-success" role="alert">
            Registration completed successfully <a href="{% url 'login:sign_in' %}">Login here</a>
        </div>
    {% else %}
        <form action="" method="POST">
            {{ form|crispy }}
            {% csrf_token %}
            <br>
            <input type="submit" name="submit" value="Register" class="btn btn-success">
        </form>
        <hr>
        Already have account? <a href="#">Login here</a>
    {% endif %}

{% endblock %}